.container {
  display: block;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Source Code Pro', monospace;
}

h4 {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.top {
  border-bottom: 1px solid #acb5b5;
  background: #e3ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text{

  width: 100%;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
  width: 300px;
  padding: 20px 2%;
  text-align: center;
}

.bc{
  width: 300px;
  padding: 20px 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.middle {
  border: 1px solid #acb5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.proposal {
  padding: 0 5%;
  font-size: 2.5rem;
}

.bracket {
  font-size: 5rem;
  font-weight: 100;
}

.items {
  padding: 20px 5% 20px 5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

li {
  margin: 10px 0;
}

.lower{
  width: 100%;
  background: #e3ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text p{
  font-size: .8rem;
  text-align: center;
}

/* Slideshow Styles */

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  padding: 10px;
}
