.container {
  display: block;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Source Code Pro', monospace;
}

h1{
  font-size: 3rem;
  color: rgb(66, 71, 66);
}

h4 {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: rgb(77, 146, 86);
}

.top {
  border-bottom: 1px solid #acb5b5;
  /* background: #e3ebeb; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dog{
  padding-left: 2%;
}

.targets{
  padding-right: 2%;
}

.header-text{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

button:hover {
  background-color: rgb(77, 146, 86); /* Green */
  color: white;
}

#summaryBtn {
  margin-bottom: 10px;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  border-radius: 10px;
  background: rgb(240, 243, 243);
  border: 1px solid #acb5b5;
  box-shadow: 0 1px 2px 0 #acb5b5;
}

#summaryBtn:hover {
  background-color: rgb(77, 146, 86); /* Green */
  color: white;
}

.mid-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mid-button {
  width: 12rem;
  height: 12rem;
  font-size: 1.4rem;
  margin: 10px;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(240, 243, 243);
  border: 1px solid #acb5b5;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 #acb5b5;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bc{
  width: 100%;
  margin: 10px 0;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo{
  width: 100%;
  padding: 10px 2% 10px 0;
  text-align: right;
}

.middle {
  border: 1px solid #acb5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.proposal {
  padding: 0 5%;
  font-size: 2.5rem;
}

.bracket {
  font-size: 5rem;
  font-weight: 100;
}

.items {
  padding: 20px 5% 20px 5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

li {
  margin: 10px 0;
}

.lower{
  width: 100%;
  background: #e3ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text p{
  font-size: .8rem;
  text-align: center;
}

/* Slideshow Styles */

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  padding: 10px;
}
